SharpCrawler/SharpCrawler/Service References/WsSoap/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://adultprog2015.somee.com/WsSoap.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://adultprog2015.somee.com/WsSoap.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://adultprog2015.somee.com/WsSoap.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_GetLink_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLink" />
  </wsdl:message>
  <wsdl:message name="IService_GetLink_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLinkResponse" />
  </wsdl:message>
  <wsdl:message name="IService_GetNamesDictionary_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNamesDictionary" />
  </wsdl:message>
  <wsdl:message name="IService_GetNamesDictionary_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNamesDictionaryResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SendLinks_InputMessage">
    <wsdl:part name="parameters" element="tns:SendLinks" />
  </wsdl:message>
  <wsdl:message name="IService_SendLinks_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendLinksResponse" />
  </wsdl:message>
  <wsdl:message name="IService_SendAmountDictionary_InputMessage">
    <wsdl:part name="parameters" element="tns:SendAmountDictionary" />
  </wsdl:message>
  <wsdl:message name="IService_SendAmountDictionary_OutputMessage">
    <wsdl:part name="parameters" element="tns:SendAmountDictionaryResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="GetLink">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetLink" message="tns:IService_GetLink_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetLinkResponse" message="tns:IService_GetLink_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNamesDictionary">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/GetNamesDictionary" message="tns:IService_GetNamesDictionary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/GetNamesDictionaryResponse" message="tns:IService_GetNamesDictionary_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendLinks">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SendLinks" message="tns:IService_SendLinks_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SendLinksResponse" message="tns:IService_SendLinks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SendAmountDictionary">
      <wsdl:input wsaw:Action="http://tempuri.org/IService/SendAmountDictionary" message="tns:IService_SendAmountDictionary_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IService/SendAmountDictionaryResponse" message="tns:IService_SendAmountDictionary_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetLink">
      <soap:operation soapAction="http://tempuri.org/IService/GetLink" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetNamesDictionary">
      <soap:operation soapAction="http://tempuri.org/IService/GetNamesDictionary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendLinks">
      <soap:operation soapAction="http://tempuri.org/IService/SendLinks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SendAmountDictionary">
      <soap:operation soapAction="http://tempuri.org/IService/SendAmountDictionary" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://adultprog2015.somee.com/WsSoap.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>